
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	position: sticky;
}
.fruit{
	position: relative;
    top: 183px;
    right: 289px;
}

.btn1{
	       position: relative;
    top: -104px;
    left: 305px;

}
.btn2{
	left: 347px;
    position: relative;
    top: -122px;
}
.para1{
	    position: relative;
    top: -114px;
    left: 289px;
        font-size: 20px;
    font-weight: bold;
}

.header{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,12,69,0.9752275910364145) 22%);
height: 37px;
}
.menu{
	margin-top: 50px;
}



.row-div{

display: flex;
    position: relative;
    left: 12%;
  }
  .px{
  	    position: relative;
    top: -185px;
    left: 287px;
  }
 .btn  {
 	position: relative;
 	left: 390%;
 	
 }
   .rk{
   	    position: relative;
    left: 600%;
    top: 38%;
   }
   .search {
   	    position: relative;
    left: 400%;
    top: 35%;
   }
   .nvvv {
   	position: relative;
    left: 22%;
   }
   .nv {
   	position: relative;
    left: 81%;
   }
   .body{
   	max-width: 1700px;
   	margin: auto;
   	
   	min-height: 100vh;
   	display: flex;
   	flex-direction: column;
   }
   .cart{
   	position: relative;
   	left: 40%;
   }
   .shop{
   	position: relative;
   	left: 1300%;
   }
   .ig{
   	position: relative;
   	right: 2%;
   }
   .font{
   	    position: relative;
    font-size: 13px;
   }